$def with (images)

<style>
.images_listing li{
	float:left;
	padding:10px;
}
.macro { border:2pt solid grey; }
.thumbnail { 	min-height:220px; }
.thumbnail-wrapper { min-height:150px; }
.thumbnail-image-link { text-decoration:none; }
.thumbnail-image { border:2pt solid rgba(120,120,120,0.25);}
.locked { border:2pt solid red; }
</style>

<script>

jQuery(document).ready(function(){
	window.locked = [];
	
	//[] Show larger macro image, when hovering over thumbnail.
	//  Image 'Lock' overrides hover behavior 
	jQuery(".thumbnail-image-link").hover(function(){
		if (_is('empty')(window.locked)) {
			set_macro_image(jQuery(this));
		}
	});

	//[] Apply 'Lock' on click
	//... this overrides thumbnail-hover
	jQuery(".thumbnail-image-link").click(function(event){
		event.preventDefault();
		var self = {jq_ref:jQuery(this),
					href:jQuery(this).attr('href'),
					img:jQuery(this).find('img'),
					state:jQuery(this).find('img').hasClass('locked'),
					};
		
		var locked_images = jQuery('.thumbnail-image.locked');
		locked_images.toggleClass('locked');
		
		if (self.state == false) {
			self.img.addClass('locked');
			set_macro_image(self.jq_ref);
		}
		window.locked = jQuery('.thumbnail-image.locked');
	});
});
function set_macro_image(link_jq_ref) {
	var dataContent = link_jq_ref.attr('data-content');
	jQuery('.macro-image').html('<img src="'+dataContent+'"/>');
}
</script>

<div class="row">
	<div class="span3">
		<br>
		<div class="macro" >
			<div class="macro-image">
				<img src="/static/archive/6e00d640a8411dfdd55e720832c7ab15.jpg">
			</div>
			<button class="btn btn-large btn-danger">
				Zoom
			</button>
			<div class="macro-tag-listing">
				tag1,tag2
			</div>
			<div class="macro-annotation">
				Image annotation data.
			</div>
		</div>		
	</div><!--/ -->
	<div class="span9">
		<div class="row">
		<!-- Original:	-->
			<form method="POST" enctype="multipart/form-data" action="/list">
				<input type="text" name="searchstr" />
				<input type="submit"/>
			</form>
		 
		 <!-- New: Trying to fix encoding, so spaces ==> %20
		 	<form method="POST" action="/list">
				<input type="text" name="searchstr" />
				<input type="submit" onsubmit="urlencode()"/>
			</form>
		 -->
		</div><!--/row-->
		
		<div class="row">
		
		

			<ul class = "thumbnails">
				$for row in images
					$ image_file = "/"+_config['image_archive'] + row.original_name
					$ thumbnail_file = "/"+_config['image_thumbnails'] + row.original_name
					<li class="span2">
						<div class="thumbnail">
							<div class="thumbnail-wrapper">
								<a href='/image/$(row.images_id)' class="thumbnail-image-link" data-content="$(image_file)">
									<!-- <img src="/$(_config['image_thumbnails'])$(row.original_name)">  -->
									<img src="$(thumbnail_file)" class="thumbnail-image">
								</a>
							</div>
							<div class="caption">
								<div class="btn-group">
									<button class="btn btn-info">Save</button>
									<a class="btn btn-warning" href='/image/$(row.images_id)'>View</a>
								</div>
							</div>
						</div><!--/thumbnail -->
					</li>
			</ul>
		</div>
	</div>
</div>